<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Countries and cities</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" routerLink="/main"><a>Main</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" ><a routerLink="/countryList">Country List</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/city-list" >City List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/auth" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div>
  <h3>Total number of countries:</h3>
  <h3>Total number of cities:</h3>
</div>


