<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">City name</th>
      <th scope="col">City ID</th>
      <th scope="col">Country ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Zagreb</td>
      <th scope="row">c1</th>
      <th scope="row">1</th>
    </tr>
    <tr>
      <td>Sarajevo</td>
      <th scope="row">c2</th>
      <th scope="row">2</th>
    </tr>
    <tr>
      <td>Belegrade</td>
      <th scope="row">c3</th>
      <th scope="row">3</th>
    </tr>
    <tr>
      <td>Podgorica</td>
      <th scope="row">c4</th>
      <th scope="row">4</th>
    </tr>
    <tr>
      <td>Priština</td>
      <th scope="row">c5</th>
      <th scope="row">5</th>
    </tr>
    <tr>
      <td>Tirana</td>
      <th scope="row">c6</th>
      <th scope="row">6</th>
    </tr>
  </tbody>
</table>
<!-- <button class="button-27" (click)="openCityDialog()">Create City</button> -->
