<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Country name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Croatia</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bosnia and Herzegovina</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Serbia</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Montenegro</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Kosovo</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Albania</td>
    </tr>
  </tbody>
</table>
<div>
  <button class="button-27">Create country</button>
  <button (click)="openDialog()">Open Dialog</button>
</div>
